body { 
    background: url(homepage.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    /* background-size: cover; */
}

#clockdiv {
    font-family: sans-serif;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
  
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}